.messages-list{padding-bottom:30px}
.unread{color:red}
.reply{text-align:right;background-color:#d2d2d2}
.logo{display: block;margin: 0 auto}
.server_select{margin-bottom:30px}
span.dt{color:grey;font-size:0.8em}